<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566602291862-1fja38s78sfcflf776f65ko7clluetjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566602291862-1fja38s78sfcflf776f65ko7clluetjf</string>
	<key>API_KEY</key>
	<string>AIzaSyAskBL__mt0d91VadP8nJ7C3_HzPH6fm7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>566602291862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shawnApp.Layer</string>
	<key>PROJECT_ID</key>
	<string>layer-8e3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>layer-8e3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566602291862:ios:0e1a86d0d200d8779a40b7</string>
</dict>
</plist>